body {
    height: 200vh;
}

.mainhomecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height: 800px;
}

.mainhomecontainercontent {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    height: 100%;
    overflow-x: auto;
}

.mainhomecontent {
        width: 50%;
        height: 600px;
        box-shadow: 0px 0px 10px;
}

.contentheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15%;
    background: rgb(224, 224, 224);
}

.profileicon {
    margin-left: 10px;
    width: 10%;
    border-radius: 50%;
    border: 1px solid;
}

.postdetailscontainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.profileusername {
    margin-top: 10px;
    color: black;
}

.postdate {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(163, 163, 163);
    font-size: 15px;
}

.postdescription {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.posts {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.interactionscontainer {
    width: 100%;
    height: 10%;
}

.posticons {
    width: 100%;
}

.iconbuttons {
    width: 10%;
    width: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.iconbuttons:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.hiddenhomecontainer {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
    height: 830px;
}

.homecontainermain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
    height: 830px;
}

.homecontainermaincontent {
    width: 90%;
    height: 100%;
}

.homecontainermaincontenttitle {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.homecontainermaincontentdescription {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.video {
    width: 100%;
}

.videocontainer {
    width: 100%;
}

.homecontentcontainernew {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 10px;
}