body {
    height: 200vh;
} 

.mainhomecontainer {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height: 800px;
}

.mainhomecontainercontent {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    height: 100%;
    overflow-x: auto;
}

.mainhomecontent {
        width: 50%;
        height: 600px;
        box-shadow: 0px 0px 10px;
}

.contentheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15%;
    background: rgb(224, 224, 224);
}

.profileicon {
    margin-left: 10px;
    width: 10%;
    border-radius: 50%;
    border: 1px solid;
}

.postdetailscontainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.profileusername {
    margin-top: 10px;
    color: black;
}

.postdate {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(163, 163, 163);
    font-size: 15px;
}

.postdescription {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.posts {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.interactionscontainer {
    width: 100%;
    height: 10%;
}

.posticons {
    width: 100%;
}

.iconbuttons {
    width: 10%;
    width: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.iconbuttons:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.hiddenhomecontainer {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
    height: 830px;
}

.homecontainermain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100%;
    height: 200px;
}

.homecontainermaincontent {
    width: 90%;
    height: 100%;
}

.homecontainermaincontenttitle {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.homecontainermaincontentdescription {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

.video {
    width: 100%;
}

.videocontainer {
    width: 100%;
}

.homecontentcontainernew {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 10px;
}

.mainhomecontainerlog {
    display: none;
    justify-content: center;
    align-items: center ;
    margin-top: 1200px;
    width: 100%;
    height: 600px;
    box-shadow: 0px 0px 10px;
}

.mainhomecontainerlogcontent {
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 10px;
}

.wallhavenwallpimg {
    width: 100%;
}

.wallhavenwallpimg:hover {
    box-shadow: 0px 0px 20px;
    transition: 0.4s;
}

.mainuppercontainer {
    width: 100%;
    height: 600px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainuppercontainer-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}


.mainhomecontainer-content-content:nth-child(1):hover {
    width: 50%;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    background-image: url(panel1ex.jpg);
    background-size: cover;
    
}

.mainhomecontainer-content-content:nth-child(2):hover {
    width: 50%;
    -webkit-text-fill-color: transparent;
    background-image: url(panelnew2.jpg);
    background-size: cover;
    transition: 0.5s;
}

.mainhomecontainer-content-content:nth-child(3):hover {
    width: 50%;
    -webkit-text-fill-color: transparent;
    background-image: url(panel3ex.jpg);
    background-size: cover;
    transition: 0.5s;
}

.mainhomecontainer-content-content:nth-child(4):hover {
    width: 50%;
    -webkit-text-fill-color: transparent;
    background-image: url(panel4ex.jpg);
    background-size: cover;
    transition: 0.5s;
}

.mainhomecontainer-content-content:nth-child(5):hover {
    -webkit-text-fill-color: transparent;
    width: 50%;
    background-image: url(panel5ex.jpg);
    background-size: cover;
    transition: 0.5s;
}

.mainhomecontainer-content-content:nth-child(6):hover {
    width: 50%;
    -webkit-text-fill-color: transparent;
    background-image: url(panel6.jpg);
    background-size: cover;
    transition: 0.5s;
}



.mainhomecontainer-content-content {
    font-size: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 100%;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    background: white;
}

.content-divider {
    margin-top: 50px;
    width: 100%;
    background: black;
    height: 10px;
}