* {
    font-family: 'UnifrakturCook';
    color: black;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline  ;
}

.topbar {
    background: white;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 7%;
    box-shadow: 0px 0px 10px;
}

.profilecontainer {
    grid-area: 1 / 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1%;
    width: 10%;
    height: 100%;
}

.logoutcontainer {
    text-decoration: none;
    margin-top: 10px;
    grid-area: 1 / 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 1%;
    width: 10%;
    height: 100%;
    top: 100%;
}

.logoutmain {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    cursor: pointer;
    gap: 10px;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    background: rgb(248, 248, 248);
}

.logoutmainicon {
    height: 50%;
}

.logoutmainindex {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.logoutmainindex:hover {
    text-decoration: underline;
}


.profilemain {
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    cursor: pointer;
    gap: 10px;
    border-radius: 10px;
    height: 80%;
    width: 100%;
    background: rgb(248, 248, 248);
}

.profilemain:hover {
    background: rgb(233, 233, 233);
}

.profile {
    height: 80%;
    border-radius: 50%;
}

.downarrow {
    border-radius: 50%;
    background: rgb(231, 231, 231);
    width: 13%;
}

.activitycontainer {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 1%;
    gap: 10px;
    width: 13%;
    height: 100%;
}

.login {
    background: black;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    height: 55%;
    width: 100%;

}

.signup {
    background: rgb(226, 226, 226);
    color: black;
    cursor: pointer;
    border-radius: 10px;
    height: 55%;
    width: 100%;
}

.signupcontent {
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 226);
    color: black;
    cursor: pointer;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
}

.signupcontent:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.image2 {
    position: absolute;
    z-index: -1;
    width: 30%;
    top: 15%;
    left: -7%;

}

.image4 {
    position: absolute;
    z-index: -1;
    width: 25%;
    top: 15%;
    right: 0%;
    
}

.construction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.constructioncontainer {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.constructiontitle {
    position: absolute;
    top: 15%;
    font-size: 100px;
}

.constructiondescription {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 26%;
    font-size: 20px;
}

.logincontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;
    width: 80%;
    height: 90%;
}

.grouped {
    display: block;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.emailinput {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 25px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

.passwordinput {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 25px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

.logincontainertitle {
    font-size: 50px;
}

.logincontainerdescription {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    font-size: 15px;
}

.logincontainerloginbutton {
    position: relative;
    left: 5px;
    border: none;
    border-radius: 25px;
    width: 30%;
    height: 7%;
}

.logincontainerloginbuttondes {
    background: black;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid;
}

.logincontainerloginbuttondes:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

.labelforemail {
    font-family: Arial, Helvetica, sans-serif;
}

.spacingbetweenfooterandstuff {
    width: 100%;
    height: 1200px;
}

.footerdetails {
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px;
    height: 150px;
    z-index: 9;
}

.footerandstuffcontainer {
    height: 90%;
    width: 98%;
}

.foooterandstufftitle {
    font-size: 25px;
}

.foooterandstuffdescription {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 49);
}

.seemorelinks {
    width: 80px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    text-decoration: none;
}

.seemorelinks:hover {
    color: rgb(55, 35, 235);
}

.relevantcomment {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-style: italic;
    font-size: 13px;
}

.amountofcomments {
    margin-left: 2px;
    cursor: pointer;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: gray;
    font-style: italic;
    font-size: 13px;
}